<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<!--    <filter>-->
<!--        <filter-name>MyFilter</filter-name>-->
<!--        <filter-class>com.jensen.a_filter_01.MyFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>MyFilter</filter-name>-->
<!--        <url-pattern>/demo01.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <listener>-->
<!--        <listener-class>com.jensen.f_listener_06.MyServletContextListener</listener-class>-->
<!--    </listener>-->
    <context-param>
        <param-name>jdbc</param-name>
        <param-value>jdbc.properties</param-value>
    </context-param>
</web-app>